@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-weight: 'Roboto', sans-serif;

}

form {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
label{

    font-size: 13px;
    margin-bottom: 10px;
}
input[type = "email"], input[type = "password"], input[type = "text"]{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 3px;

}
p{
    font-size: 10px;
    margin-bottom: 20px;
    color: rgb(145, 143, 143);
}
#check{
    margin-top: 15px;

}
input[type = "submit"]{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: 0px;
    border-radius: 4px;
}
label[for = "text"]{
    margin-top: 20px;
}
