body{
    color: #404040;
    font-size: 12pt;
    font-family: Georgia, Garamond, serif;
}


h1,h2,h3,h4,h5,h6{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial,sans-serif;
    font-size: 18pt;
    text-decoration: underline;
}
h1{
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}
a{
    color:#A4A400
   
}
em{
    font-style: normal;
    text-decoration: line-through;
}
div{
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 40px;
    
    
}



