.high{

    background-color: rgb(0, 191, 255);
    width: 100%;
   

}
#top{
    margin-right: 60px;
    float: right;
    
}
.btn{
    margin-top: 500px;
    float: right;
    
}
.meme{
    width: 80%;
padding: 18px;
border: 1px solid #ccc;
border-radius: 6px;
box-sizing: content-box;
margin-top: 6px;
margin-bottom: 16px;
font-size: large;
}


