body{
    margin: 0;
    padding:0;
}

div.navbar{
    background-color: black;
    padding-right: 1em;
    padding-left: 1em;
    width: 100%;
    height: 60px;
}
a{
   color: white;
    text-decoration: none;
    padding: 1em;
}
span{
    color: white;
}
div.row{
    padding-left: 1em;
}
/* h2{
    padding-left: 5em;
} */
