body{
    color: rgb(6, 118, 118);
    background-color: rgb(150, 206, 240);
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-decoration: underline;
}
a{
    font-style: oblique;
}